<div class="bs-example">
  <ul class="nav nav-pills">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="kpop">Http Promise</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="emp">Http Observable</a>
    </li>
    <li class="dropdown" routerLinkActive="active">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">#
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a routerLink="#">#</a>
        </li>
        <li class="divider"></li>
        <li>
          <a routerLink="#">#</a>
        </li>
      </ul>
    </li>
  </ul>
  <hr/>
  <div class="margin">
    <router-outlet></router-outlet>
  </div>
</div>
