<select (change)="city=$event.target.value">
  <option *ngFor="let obj of cities" [value]="obj.eng" [selected]="city==obj.eng?true:null">
    {{obj.han}}
  </option>
</select>
<br/>

<select [(ngModel)]="city">
  <option *ngFor="let c of cities" [value]="c.eng">{{c.han}}</option>
</select>
<br/><br/>

<input [value]="city" (input)="city=$event.target.value">
<br/>

<input [(ngModel)]="city">
<br/><br/>

<span *ngFor="let obj of cities">
  <input type="radio" [checked]="(obj.eng==city?true:null)" (click)="city=$event.target.value" [value]="obj.eng" name="city1">{{obj.han}}
</span>
<br/>

<span *ngFor="let c of cities">
  <input type="radio" [(ngModel)]="city" [value]="c.eng" name="city2">{{c.han}}
</span>

<hr>

<div *ngIf="city=='seoul'">
  <h2>Seoul is the capital of Korea.</h2>
</div>
